;;; Aristotle

{:paths   ["src"]

 :deps    {org.clojure/clojure              {:mvn/version "1.12.0"}
           ;; The following previously referenced 4.5.0.  Use of 5.2.0 etc. seems to require newer clojure > 1.12.0.
           ;; See class file format here: https://en.wikipedia.org/wiki/Java_version_history
           ;; Nothing short of 5.2.0 has vulnerabilities. See https://mvnrepository.com/artifact/org.apache.jena/apache-jena-libs, in central
           ;; Error building classpath. Could not find artifact org.apache.jena:apache-jena-libs:jar:4.9.0 in central (https://repo1.maven.org/maven2/)
           org.apache.jena/apache-jena-libs {:mvn/version "4.9.0" :extension   "pom"}
           ont-app/vocabulary               {:mvn/version "0.4.2"}

           ;; Adds missing javax.xml.bind.DatatypeConverter in Java 9+
           javax.xml.bind/jaxb-api          {:mvn/version "2.4.0-b180830.0359"}
           #_#_jakarta.xml.bind/jakarta.xml.bind-api  {:mvn/version "4.0.2"}} ; This maybe for 5.2.0+.

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                                ch.qos.logback/logback-classic       {:mvn/version "1.5.12"}}
                  :main-opts   ["-m" "cognitect.test-runner"]
                  :exec-fn     cognitect.test-runner.api/test}

           :build    {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                      :ns-default build}}}
